.notAllowed {
  cursor: not-allowed;
}

.productCode {
  display: inline !important;
}

.copyBtn {
  display: inline;
  margin: 0 8px;
  font-size: 24px;
  cursor: pointer;
}

.statusContainer {
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}
